In [51]:
import re as regularExpressions

In [52]:
series1 = """
'01/18/2014 13:00:00', 100, '1st',
'01/18/2014 13:00:00', 110, '2nd',
'01/18/2014 14:00:00', 300, '3rd'
"""

In [53]:
series2 = """'02', '////', '    '"""

In [54]:
series3 = "I'm just a normal string"

In [55]:
invalidString = """inseting random "dates" there"""

In [56]:
type(invalidString)
print(invalidString)

inseting random "dates" there

In [57]:
result4 = dt.findall(series4)

In [58]:
type(series1)

str

In [59]:
dt = regularExpressions.compile("'[0-9/:\s]+'")

In [60]:
type(dt)

_sre.SRE_Pattern

In [61]:
result1 = dt.findall(series1)

In [62]:
result2 = dt.findall(series2)

In [63]:
result3 = dt.findall(series3)

In [64]:
type(result1)

list

In [65]:
print(result1, "\n", result2, "\n", result3)

["'01/18/2014 13:00:00'", "'01/18/2014 13:00:00'", "'01/18/2014 14:00:00'"]
 ["'02'", "'////'", "'    '"]
 []

In [66]:
from datetime import datetime

In [68]:
pydt = datetime.strptime(result1[0].replace("'", ""), '%m/%d/%Y %H:%M:%S')

In [69]:
pydt

datetime.datetime(2014, 1, 18, 13, 0)

In [70]:
type(result1[0])

str

In [71]:
type(pydt)

datetime.datetime

In [73]:
import dateutil.relativedelta

In [74]:
d2 = pydt - dateutil.relativedelta.relativedelta(months=1)

In [75]:
d2

datetime.datetime(2013, 12, 18, 13, 0)